<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú de Navegación</title>
  <link rel="stylesheet" href="headeradmon.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <img [src]="logoblanco" alt="Logo" class="logo-img">
      </div>
      <nav>
        <div class="menu-icon" (click)="openMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul [class.menu-open]="menuVariable" class="menu">
          <li (click)="setActiveLink($event)" [class.active-link]="isActive('/user/inicio')">
            <a routerLink="/user/inicio" routerLinkActive="active-link">Inicio General</a>
          </li>
          <li (click)="setActiveLink($event)" [class.active-link]="isActive('/user/admoninformacion')">
            <a routerLink="/user/admoninformacion" routerLinkActive="active-link">Editor ¿Quiénes somos?</a>
          </li>
          <li (click)="setActiveLink($event)" [class.active-link]="isActive('/user/admonpreguntas')">
            <a routerLink="/user/admonpreguntas" routerLinkActive="active-link">Editor Preguntas</a>
          </li>
          <li (click)="setActiveLink($event)" [class.active-link]="isActive('/user/admonusuarios')">
            <a routerLink="/user/admonusuarios" routerLinkActive="active-link">Todos los Usuarios</a>
          </li>
          <li (click)="setActiveLink($event)" [class.active-link]="isActive('/user/admoncitas')">
            <a routerLink="/user/admoncitas" routerLinkActive="active-link">Todas las citas</a>
          </li>
          <li (click)="setActiveLink($event)" [class.active-link]="isActive('/user/admonservicios')">
            <a routerLink="/user/admonservicios" routerLinkActive="active-link">Todos los servicios</a>
          </li>
          <li>
            <button (click)="cerrarSesion()" class="btn-cerrar-sesion">Cerrar sesión</button>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <app-breadcrumbs></app-breadcrumbs>
  </div>
</body>
</html>
