<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="headerpublico.component.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <img [src]="logoblanco" alt="Dental Crown Logo">
      </div>
      <div class="menu_icon" [class.active]="menu_icon_variable" (click)="openMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="menu" [class.menuClass]="menuVariable">
        <ul>
          <li routerLink="/user/iniciopublico" routerLinkActive="active-link">Inicio</li>
          <li routerLink="/user/serviciospublico" routerLinkActive="active-link">Servicios</li>
          <li routerLink="/user/quienessomospublico" routerLinkActive="active-link">¿Quiénes somos?</li>
          <li routerLink="/user/contactopublico" routerLinkActive="active-link">Contacto</li>
          <li routerLink="/user/preguntaspublico" routerLinkActive="active-link">Preguntas</li>
          <li routerLink="/">Iniciar Sesión</li>
          <li routerLink="/user/crear-cuenta">Crear Cuenta</li>
        </ul>
      </nav>
    </div>
  </header>
</body>
</html>
