/* General styles */
header {
    background-color: #1367c2;
    padding: 10px 20px;
    color: white;
}

body, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 150px;
    height: auto;
}

/* Menu styles */
.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu ul li {
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Hover effect for menu options */
.menu ul li:hover {
    color: #5dc1e9;
    transform: translateY(-3px); /* Ligeramente levanta el texto */
}

/* Menu icon (hamburger) */
.menu_icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.menu_icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    transition: all 0.3s;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
    .menu ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px; /* Se separa el menú de las 3 líneas */
    }

    .menuClass ul {
        display: flex !important;
    }

    .menu_icon {
        display: flex;
    }

    .menu ul li {
        margin: 10px 0;
    }
}
